{% extends "base.html.twig" %} 
{% form_theme formVisiteur 'bootstrap_4_layout.html.twig' %}
{% block body %}

<h1>Créer un nouveau visiteur</h1>
{{ include ('admin/visiteur/_form.html.twig', {form : formVisiteur} )}}


{% endblock %}