{% extends 'base.html.twig' %}

{% block title %}Cotisations{% endblock %}

{% block body %}
<h2>Cotisations dues par propriétaires</h2>
<table class="table">
    <thead class="thead-ligth">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Code_Ville</th>
            <th>Cotisation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
